@use "sass:map";
@import 'variables.module';
@import 'customcolors.module';

html,
body {
	scroll-behavior: smooth;

	@include scrollbars(10px, $secondary-color, $grey);
}

body {
	background: $light;
	color: $dark;
	margin: 0;

	&.dark {
		background: map-get($theme-colors, 'grey-100');
		color: $light;

		main {
			background: $dark;
		}
	}

	main {
		background: $light;
	}

	.nav-link {
		border-bottom: 1px solid transparent;
		font-size: 0.85rem;
		letter-spacing: 0.075rem;
		transition: 0.3s;

		&:hover {
			border-color: $accent-color;
			color: $accent-color !important;
		}
	}

	.contact-link {
		transition: 0.3s;

		i {
			transition: 0.3s;
		}

		&:hover {
			opacity: 0.7;

			i {
				color: $accent-color !important;
			}
		}
	}

	.modal-header .close {
		outline: none;
	}

	.hero-text {
		@include font-size(3rem);
	}

	.hero-sub {
		@include font-size(1.5rem);
	}

	.about-title {
		@include font-size(3rem);
	}

	.services-title {
		@include font-size(2.25rem);

		font-family: $thin;
		letter-spacing: 0.075rem;
	}
}
